# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List development environment open source tools
- Provide example for evaluating simple arithmetic expression

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
3. ggplot2
4. TensorFlow
5. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| Jupyter Lab |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic experession to multiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Nurul Afiqah Zulkifle